/* General */
* {
  box-sizing: border-box;
}

:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --trans: hsl(0, 0%, 0%, 0.0);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}


/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  width: 100vw;
  padding: 8px 64px;
  position: fixed;
  top: 0;
  z-index: 1;
}

nav a {
  display: block;
  color: inherit;
  font-size: 1.25em;
  text-decoration: inherit;
}

nav a:hover {
  border-bottom: 4px solid var(--white);
  margin-bottom: -4px;
}

nav label, nav input {
  display: none;
}

.nav-logo > a {
  font-size: 1.5em;
  font-weight: 900;
  font-style: italic;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.nav-menu a {
  display: block;
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 8px 32px;
  }

  nav label {
    display: block;
  }

  nav input:checked ~ .nav-menu {
    height: 128px;
  }

  .nav-menu {
    flex-flow: column;
    justify-content: space-around;
    background-color: var(--black);
    width: 100vw;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 48px;
    left: 0;
    transition-duration: .2s;
  }
}


/* Header */
header {
  position: relative;
}

header::before {
  content: "";
  display: block;
  background-color: hsla(0, 0%, 0%, .5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.header-title {
  background-image: linear-gradient(var(--trans), var(--black));
  width: 100%;
  padding: 128px 32px;
  position: absolute;
  bottom: 0;
}

.header-title h1, .header-title p {
  font-style: italic;
  text-align: center;
  margin: 0;
}

.header-title h1 {
  font-family: 'Exo', sans-serif;
  font-size: 4em;
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  .header-title h1 {
    font-size: 3em;
  }
}


/* Section */
section {
  margin: 0 64px 0;
  padding: 64px 0 64px;
}

section h1, section h2 {
  font-family: 'Exo', sans-serif;
}

section h1 {
  font-size: 3em;
  margin-top: 0;
}

section p {
  font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
  section {
    margin: 0 32px 0;
  }

  section > h1 {
    text-align: center;
  }
}


/* Parallax */
.parallax {
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.parallax::before {
  content: "";
  display: block;
  background-color: hsla(0, 0%, 0%, .5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/* Card Container */
.card-container {
  display: grid;
  margin-bottom: 64px;
}

#new-release {
  grid-template-columns: auto auto;
  grid-gap: 64px;
}

#popular-videos {
  grid-template-columns: auto auto auto;
  grid-gap: 48px;
}

#all-videos {
  grid-template-columns: auto auto auto auto;
  grid-gap: 32px;
}

@media only screen and (max-width: 768px) {
  #new-release, #popular-videos, #all-videos {
    grid-template-columns: auto;
    grid-gap: 32px;
  }
}


/* Card */
.card {
  padding: 8px;
  border: 1px solid var(--white);
  position: relative;
  transition-duration: 200ms;
}

#new-release .card {
  padding: 16px;
}

#popular-videos .card {
  padding: 12px;
}

.card:hover {
  box-shadow: 8px 8px var(--white);
  transform: translate(-8px, -8px);
}

.card a {
  color: inherit;
  text-decoration: inherit;
}

.card-image {
  position: relative;
}

.card-image img {
  display: block;
  width: 100%;
}

.play-button {
  opacity: 0;
  background-color: hsla(0, 0%, 0%, .75);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 200ms;
}

.play-button i {
  font-size: 2em;
}

#new-release .play-button i {
  font-size: 5em;
}

#popular-videos .play-button i {
  font-size: 3em;
}

.card:hover .play-button {
  opacity: 1;
}

.play-button > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-detail h1{
  font-size: 1em;
  margin: .25em .5em;
}

.more-videos {
  display: none;
  text-align: center;
}

.more-videos a {
  color: inherit;
  text-decoration: inherit;
}

#new-release .card-detail h1 {
  font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
  .card {
    padding: 8px !important;
  }

  .card-detail h1 {
    font-size: 1.25em !important;
  }

  .more-videos {
    display: block;
  }

  #all-videos, .all-videos {
    display: none;
  }
}


/* Footer */
footer {
  padding: 16px 0;
}

footer p {
  font-family: 'Exo', sans-serif;
  font-size: .75em;
  text-align: center;
  letter-spacing: .25em;
  margin: 0 0 .5rem;
}