/* General */
* {
  box-sizing: border-box;
}

:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --trans: hsl(0, 0%, 0%, 0.0);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}


/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 8px 64px;
}

nav a {
  color: inherit;
  font-size: 1.25em;
  text-decoration: inherit;
}

nav div > div:hover {
  border-bottom: 4px solid var(--white);
  margin-bottom: -4px;
}

.nav-left {
  display: flex;
  width: 25%;
}

.nav-logo > a {
  font-size: 1.5em;
  font-weight: 900;
  font-style: italic;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}


/* Header */
header {
  position: relative;
}

header::before {
  content: "";
  display: block;
  background-color: hsla(0, 0%, 0%, .5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

header::after {
  content: "";
  display: block;
  background-color: var(--black);
  width: 100vw;
  height: 128px;
  position: absolute;
  bottom: 0;
}

video {
  width: 100vw;
  position: relative;
  top: 0;
  z-index: -1;
}

.header-title {
  background-image: linear-gradient(var(--trans), var(--black));
  width: 100%;
  position: absolute;
  bottom: 128px;
  padding: 96px 0;
}

.header-title h1, .header-title p {
  font-style: italic;
  text-align: center;
  margin: 0;
}

.header-title h1 {
  font-family: 'Exo', sans-serif;
  font-size: 4em;
  font-weight: 900;
}


/* Section */
section {
  margin: 0 64px 0;
  padding: 64px 0 64px;
}

section h1, section h2 {
  font-family: 'Exo', sans-serif;
}

section h1 {
  font-size: 3em;
  margin-top: 0;
}

section p {
  font-size: 1.5em;
}


/* Parallax */
.parallax {
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.parallax::before {
  content: "";
  display: block;
  background-color: hsla(0, 0%, 0%, .5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


/* Card Container */
.card-container {
  display: grid;
  grid-gap: 32px;
  margin-bottom: 64px;
}

#new-release {
  grid-template-columns: auto auto;
}

#popular-videos {
  grid-template-columns: auto auto auto;
}

#all-videos {
  grid-template-columns: auto auto auto auto;
}


/* Card */
.card {
  position: relative;
  padding: 8px;
  border: 1px solid var(--white);
  transition-duration: 200ms;
}

.card:hover {
  box-shadow: 8px 8px var(--white);
  transform: translate(-8px, -8px);
}

.card a {
  color: inherit;
  text-decoration: inherit;
}

.card img {
  width: 100%;
}

.play-button {
  opacity: 0;
  background-color: hsla(0, 0%, 0%, .75);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 200ms;
}

.play-button:hover {
  opacity: 1;
}

.play-button > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-image img {
  width: 100%;
}

.card-detail {
  margin-top: .5rem;
}

.card-detail h1, .card-detail p {
  font-size: 1em;
  margin: 0;
}

.card-detail p {
  text-align: right;
}


/* Footer */
footer {
  padding: 1rem 0;
}

footer p {
  font-family: 'Exo', sans-serif;
  font-size: .75em;
  text-align: center;
  letter-spacing: .25em;
  margin: 0 0 .5rem;
}